<head>
    <title>Tech Blog Homepage</title>
</head>

<body>

    <header>
        <h1>Tech Blog Homepage</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Contact information</a></li>
        </ul>
    </nav>

    <main> 
        <section>
            <h2>Articles</h2>
            <article> 
                <h3>Article Title One</h3>
                <p>Content of article here</p>
            </article>
            <article>Article Title Two</article>
            <p>Content of article here</p>
        </section>
        
        <section>
            <h2>Categories</h2>
            <ul>
                <li>Category 1</li>
                <li>Category 2</li>
                <li>Category 3</li>

            </ul>
        </section>
    </main>

    <footer>
        <p>Tech Blog. All rights reserved.</p>
    </footer>
</body>
<script src="./js/deletePost.js"></script>